* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBE7C6;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    box-shadow: 0 0 20px #333;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

th {
    background-color: rgb(2, 31, 31);
    color: white;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1 {
    background-color: #333;
    color: white;
    margin-top: 20px;
    text-align: center;
    border-style: dotted;
    border-color: blue;
    font-size: 20px;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px #333;
    position: relative;
    top: 0px;
    /*margin: auto;*/
    padding: 3px;
    display: block;
}

h2 {
    padding: 10px;
    text-align: left;
}

.content,
ul,
li {
    background-color: #333;
    border: none;
    color: white;
    box-shadow: 0 0 5px #333;
    margin-left: auto;
    margin-right: auto;
}

.title,
h3 {
    /* background-color: #333;
    color: white;*/
    margin-top: 20px;
    text-align: center;
}

.title,
p {
    text-align: justify;
}